@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-col: 64;
  --max-row: 29;
  --node-size: 3vh;
  --node-start-row: 15;
  --node-start-col: 14;
  --node-end-row: 15;
  --node-end-col: 50;
}

.sgrid{
  display: grid;
  grid-template-columns: repeat(var(--max-col), var(--node-size));
  grid-template-rows: repeat(var(--max-row), var(--node-size));
}

.node {
  height: var(--node-size);
  width: var(--node-size);
}