@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-col: 65;
  --max-row: 29;
  --node-size: 3vh;
  --node-start-row: 15;
  --node-start-col: 14;
  --node-end-row: 15;
  --node-end-col: 50;
}

.node {
  height: var(--node-size);
  width: var(--node-size);
}

.fade-in {
  animation: in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
@keyframes in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
